# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.CSM.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\trh\Work\corionis\git\corionis\CSM\.idea\.idea.CSM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
