# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CorionisServiceManager.NET.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\trh\Work\corionis\git\corionis\CorionisServiceManager.NET\.idea\.idea.CorionisServiceManager.NET\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
